@font-face {
    font-family: 'Podkova';
    src: local('Podkova Regular'), local('Podkova-Regular'), url('../fonts/Podkovaregular.woff2') format('woff2'), url('../fonts/Podkovaregular.woff') format('woff'), url('../fonts/Podkovaregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Podkova';
    src: local('Podkova SemiBold'), local('Podkova-SemiBold'), url('../fonts/Podkovasemibold.woff2') format('woff2'), url('../fonts/Podkovasemibold.woff') format('woff'), url('../fonts/Podkovasemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Podkova';
    src: local('Podkova ExtraBold'), local('Podkova-ExtraBold'), url('../fonts/Podkovaextrabold.woff2') format('woff2'), url('../fonts/Podkovaextrabold.woff') format('woff'), url('../fonts/Podkovaextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Podkova';
    src: local('Podkova Medium'), local('Podkova-Medium'), url('../fonts/Podkovamedium.woff2') format('woff2'), url('../fonts/Podkovamedium.woff') format('woff'), url('../fonts/Podkovamedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Podkova';
    src: local('Podkova Bold'), local('Podkova-Bold'), url('../fonts/Podkovabold.woff2') format('woff2'), url('../fonts/Podkovabold.woff') format('woff'), url('../fonts/Podkovabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
