html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 2.4rem;
    font-family: 'Podkova', sans-serif;
}

small {
    font-size: 80%;
}



header .top {
    display: flex;

    padding: 12px;
    font-size: 13px;
    color: #222;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    height: 80px;

    -webkit-box-shadow: 0px 3px 14px -2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 14px -2px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 3px 14px -2px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 3px 14px -2px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 14px -2px rgba(0,0,0,0.1);
}

header .top .contact-info {
    justify-content: space-between;
}

header .top .column-1 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

header .top .column-1 a {
    color: inherit;
    text-decoration: none;
}

header .top .column-1 .bi {
    color: #ff841f;
    margin-right: 4px;
}

header .top .column-2 {
    flex-direction: row;
    column-gap: 10px;
}

header .top .column-2 .social-link {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

header .top .column-2 .social-link span {
    display: inline-block;
    width: 0;
    overflow: hidden;
    transition: width .4s ease-in-out;
}
header .top .column-2 .email.social-link:hover span {
    width: 120px;
}
header .top .column-2 .telegram.social-link:hover span {
    width: 70px;
}
header .top .column-2 .whatsapp.social-link:hover span {
    width: 70px;
}

header .top .column-2 .bi {
    color: #666;
    font-size: 18px;
    /*margin-right: 4px;*/
}

header .section-banner {
    color: #fff;
    /*padding-top: 80px;*/
    background-color: #333;
    padding: 110px 0 30px 0;
}

header .overfill {
    display: none;
}

header .section-banner .container {
    position: relative;
    display: flex;
    flex-direction: row;
    /*height: 100%;*/
}



header .section-banner .row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .section-banner .menu {
    margin-top: 20px;
}

header .section-banner .menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

header .section-banner .menu a {
    color: #EEE;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

    /*margin: 28px 0;*/
    padding: 10px 15px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Open Sans', Sans-serif, serif;

    display: block;
    line-height: 22px;

    text-decoration: none;
}
header .section-banner .menu a:hover {
    border: 1px solid #ff841f;
}

header .section-banner .row-2 {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

header .section-banner .row-2 .title {
    display: flex;
}


@media (min-width: 768px) {    /* md */
    header {
        height: 100vh;
        /*border: 1px solid red;*/
        display: flex;
        flex-direction: column;
    }

    header .top {
        height: 50px;
    }

    header .top .column-1 {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        width: unset;
        align-items: center;
    }

    header .section-banner {
        background: #292929 url("/img/banner.jpg") no-repeat;
        background-size: cover;
        flex-grow: 1;
        /*background-position-y: -100px;*/
        background-position-y: 50px;
        position: relative;
        color: #fff;
        margin-top: 50px;
        padding: unset;
    }

    header .section-banner .row-2 {
        justify-content: space-between;
    }

    header .overfill {
        display: unset;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.70);
        width: 100%;
        height: 100%;
    }

    header .section-banner .container {
        flex-direction: column;
        height: 100%;
    }

    header .section-banner .menu ul {
        flex-direction: row;
        column-gap: 20px;
    }
}



header .call-me-form {
    background: #fff;
    border-radius: 8px;
    color: #333;
    border: 1px solid #f5f5f5;
    padding: 30px;
    width: 400px;
}

header .call-me-form button {
    color: #fff;
    background-color: #ff841f;
    border-color: #ff841f;
    border-radius: 20px;
    height: 40px;
    padding: 0 24px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

header .call-me-form button:hover {
    background-color: #ff841f;
    border-color: #ff841f;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    opacity: .8;
}

header .call-me-form input {
    width: 100%;
    padding: 8px 10px;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 3px;
    margin-bottom: 14px;
}

header .call-me-form .politics {
    color: #6c757d;
}
header .call-me-form .politics a {
    color: #ff841f;
    text-decoration: none;
}








.section-1 {
    padding-top: 70px;
    font-family: 'Podkova', sans-serif;
    margin-bottom: 70px;
}

.section-1 h2 {
    text-align: center;
    margin-bottom: 50px;
}
.section-1 h2:after {
    content: '';
    display: block;
    margin-top: 40px;
    width: 40px;
    border-top: 2px solid #444;
    margin-left: auto;
    margin-right: auto;
}

.section-1 ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2px;

    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.section-1 ul li {
    width: 100%;
    aspect-ratio: 2 / 1;
    opacity: 1;
    transition: all .3s ease-in-out;
}
.section-1 ul li:hover {
    opacity: .8;
}


@media (min-width: 768px) {    /* md */
    .section-1 ul {
        flex-direction: row;
    }

    .section-1 ul li {
        width: 30%;
        flex-grow: 2;
    }
}

.section-1 ul li a {
    width: 100%;
    height: 100%;
    /*display: flex;*/
    /*text-decoration: none;*/
    /*color: #EEE;*/
    /*align-items: end;*/

    display: block;

    position: relative;
    background: #222222;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    text-decoration: none;
    color: inherit;
}

.section-1 ul li a h3 {
    /*font-family: 'Podkova', sans-serif;*/
    color: #EEE;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.text-overlay {
    position: absolute;
    opacity: 0.85;
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 40px 15px 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
    /*transition: all .3s ease-in-out;*/
}




.section-2 {
    background-color: #F9F9F9;
    padding: 60px 0;
}

.section-2 h2 {
    text-align: center;
    margin-bottom: 50px;

}
.section-2 h2:after {
    content: '';
    display: block;
    margin-top: 40px;
    width: 40px;
    border-top: 2px solid #444;
    margin-left: auto;
    margin-right: auto;
}

.section-2 .d-flex {
    gap: 120px;
}

.section-2 h3 {
    font-family: 'Podkova', sans-serif;
    font-weight: normal;
    text-transform: none;
    font-size: 24px;
}

.feature-box {
    width: 30%;
    flex-grow: 2;
    flex-basis: 100px;
    margin: 0;
}
.feature-box.fbox-center .fbox-icon i {
    font-size: 64px;
}




.section-3 {
    background: url('/img/bg1.jpg') no-repeat;
    background-size: cover;
    background-position: left 50% top 50%;
    background-attachment: fixed;
    margin-top:unset;
    margin-bottom:unset;

    color: #eee;
    text-align: center;
}

.section-3 .dark-bg {
    background-color: rgba(0, 0, 0, 0.75);
    padding-top:70px;
    padding-bottom:80px;
}

.section-3 h2 {
    margin-bottom: 30px;
}

.section-3 p {
    font-family: 'Open Sans', Sans-serif, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 1.4em;
}









.section-4 {
    padding: 60px 0 0;
}

.section-4 h2 {
    text-align: center;
    margin-bottom: 20px;
}
.section-4 p {
    font-family: 'Open Sans', Sans-serif, serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}
.section-4 p:after {
    content: '';
    display: block;
    margin-top: 40px;
    width: 40px;
    border-top: 2px solid #444;
    margin-left: auto;
    margin-right: auto;
}





.section-5 {
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: #EEE;
}

.section-5 .d-flex {
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 768px) {  /* md */
    .section-5 .column {
        width: 33%;
        flex-grow: 2;
        flex-basis: 100px;
    }

    .section-5 .d-flex {
        flex-direction: row;
        gap: 50px;
    }
}


.section-5 .column h3 {
    font-family: 'Podkova', sans-serif;
    font-size: 26px;
    border-bottom: 2px solid #ff841f;
    padding-bottom: 16px;
    margin-bottom: 40px;
}

.section-5 .column p {
    font-family: 'Open Sans', Sans-serif, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 1.4em;
}

.section-5 .call-me-form button {
    color: #fff;
    background-color: #ff841f;
    border-color: #ff841f;
    border-radius: 20px;
    height: 40px;
    padding: 0 24px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.section-5 .call-me-form button:hover {
    background-color: #ff841f;
    border-color: #ff841f;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    opacity: .8;
}

.section-5 .call-me-form input {
    width: 100%;
    padding: 8px 10px;
    color: #f5f5f5;
    border: none;
    border-radius: 3px;
    margin-bottom: 14px;
    background-color: #222;
}

.section-5 .call-me-form .politics {
    color: #6c757d;
}
.section-5 .call-me-form .politics a {
    color: #ccc;
    text-decoration: none;
}

.section-5 .column-3 a {
    color: inherit;
    text-decoration: none;
}
.section-5 .column-3 a i {
    color: #ff841f;
    margin-right: 2px;
}
.section-5 .column-3 p:last-child a i {
    margin-right: 5px;
}





footer {
    background-color: rgba(0, 0, 0, 1);
    color: #ccc;
    padding: 40px 0;
    font-size: .8em;
}

footer .d-flex {
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: inherit;
    text-decoration: none;

}

footer .social-link {
    font-size: 1.4em;
    margin-left: 10px;
}

#gotoTop {
    transition: background-color .2s linear;
    z-index: 9999 !important;
    left: 30px;
    right: auto;
    top: auto;
    bottom: 30px;

    /*display: none;*/
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    border-radius: 2px;
}