<!DOCTYPE html>
<html lang="RU">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Компания Вертолет</title>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />
{#    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<header>
    <div class="top">
        <div class="container">
            <div class="contact-info d-flex">
                <div class="column-1">
                    <span>
                        <i class="bi bi-telephone-fill"></i> <span>+7 (495) 725 25 25</span>
                    </span>
                    <span>
                        <i class="bi bi-geo-alt-fill"></i> <span>ул Тверская, 17, офис 738</span>
                    </span>
                </div>
                <div class="column-2">
                    <a class="social-link email" href="mailto:mmt.msk@mail.ru">
                        <i class="bi bi-envelope"></i>
                        <span>mmt.msk@mail.ru</span>
                    </a>
                    <a class="social-link telegram" href="https://t.me/VERTOLET_sale" target="_blank">
                        <i class="bi bi-telegram"></i>
                        <span>Telegram</span>
                    </a>
                    <a class="social-link whatsapp" href="https://api.whatsapp.com/send?phone=79261872540" target="_blank">
                        <i class="bi bi-whatsapp"></i>
                        <span>Whatsapp</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-banner">
        <div class="overfill"></div>

        <div class="container">
            <div class="row-1">
                <div class="logo">
{#                    <img src="/img/logo.svg" />#}
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#weoffer">Продукция</a></li>
                        <li>О компании</li>
                        <li>Контакты</li>
                    </ul>
                </div>
            </div>
            <div class="row-2">
                <div class="logo">
                    <img src="/img/logo2.svg" />
                </div>
{#                <div class="title">#}
{#                    МОСМЕТТОРГ#}
{#                </div>#}
                <div class="call-me-form">
                    <h2>Обратный звонок</h2>
                    <p>Отправьте заявку и мы перезвоним в течении 30 мин.</p>
                    <div>
                        <input type="text" name="name" autocomplete="on" placeholder="Имя" />
                    </div>
                    <div>
                        <input type="text" name="phone" autocomplete="on" placeholder="Телефон" />
                    </div>
                    <p>Отправляя данную форму, вы соглашаетесь c Политикой конфиденциальности</p>
                    <button type="submit" class="btn btn-secondary">Отправить</button>

                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="section-1" id="weoffer">
        <div class="container">
            <h2>Мы предлагаем</h2>

        </div>
    </div>

</main>
<footer>

</footer>
</body>
<script>
    // document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    //     anchor.addEventListener('click', function (e) {
    //         e.preventDefault(); // Отменяем стандартное поведение ссылки
    //
    //         const targetId = this.getAttribute('href').substring(1); // Получаем ID якоря
    //         const targetElement = document.getElementById(targetId); // Находим элемент
    //
    //         if (targetElement) {
    //             targetElement.scrollIntoView({
    //                 behavior: 'smooth' // Включаем плавное перемещение
    //             });
    //         }
    //     });
    // });
</script>
</html>